@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	min-height: 100%;
	width: 100%;
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #080808;
}

html {
	zoom: 1;
}

body {
	margin: 0;
}